.main-container div {
  width: 100%;
}

.main-container {
  display: flex;
}

.forms-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.input-info {
  display: flex;
  flex-direction: column;
}

.input-title {
  display: flex;
  align-items: center;
}

.input-title h1 {
  flex: 1;
}

.input-title button {
  height: 2rem;
}

.skill-item {
  display: flex;
}

.skill-item p {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-exp-item {
  display: flex;
}

.work-exp-item p {
  flex: 1;
}
